{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="mt-4 rounded-3 bg-body-tertiary p-4">
        <h1 align="center">{{ article.title }}</h1>
        <img src="{{ article.image.url }}" class="rounded mx-auto d-block" alt="Article Image">
        <p align="center" class="font-weight-light">By Ryan Gosling</p>
        <hr class="my-4">
        <p>{{ article.content }}</p>
        <div class="d-flex justify-content-start align-items-center">
            <div>
                <span class="badge">👁️ {{ article.views }}</span>
            </div>

            <div>
                <a href={% url "blog:like" article.id %} class="text-decoration-none">
                    <span class="btn" id="btn_like_{{ article.id }}" style="cursor: pointer;">
                        👍 {{ article.likes }}
                    </span>
                </a>

                <a href={% url 'blog:dislike' article.id %} class="text-decoration-none">
                    <span class="btn" id="btn-dislike-{{ article.id }}" style="cursor: pointer;">
                        👎 {{ article.dislikes }}
                    </span>
                </a>     
            </div>   
        </div>
    </div>
</div>

{% endblock content %}