{% extends "main.html" %}

{% block title %}+Article{% endblock title %}

{% block content %}

<div class="container" id="article-form-container">
    <div class="mt-4 rounded-3 bg-body-tertiary p-4">
        <form method="POST" action="" enctype="multipart/form-data" id="article-form">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    <label for={{ field.id }}>{{ field.label_tag }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="invalid-feedback">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %} 
               
            <br>
            
            <button class="btn btn-primary" type="submit"><i class="bi bi-cloud-arrow-up"></i> Upload</button>
        </form>
    </div>
</div>

{% endblock content %}