<div class="col-4">
    <div class="card" id="article-card-{{ article.id }}">
        <a href={% url "blog:article" article.id %} class="text-decoration-none text-white">
            <img class="card-img-top" src="{{ article.image.url }}" alt="Article Image">
            <div class="card-body" id="article-card-{{article.id}}-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">
                    <small class="text-muted">{{ article.created_at|timesince }}</small>
                </p>
            </div>
        </a>
        <div class="card-footer" id="article-card-{{article.id}}-footer">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span class="badge">👁️ {{ article.views }}</span>
                </div>
                <div>
                    <a href={% url "blog:like" article.id %} class="text-decoration-none">
                        <span class="btn" id="btn_like_{{ article.id }}" style="cursor: pointer;">
                            👍 {{ article.likes }}
                        </span>
                    </a>

                    <a href={% url 'blog:dislike' article.id %} class="text-decoration-none">
                        <span class="btn" id="btn-dislike-{{ article.id }}" style="cursor: pointer;">
                            👎 {{ article.dislikes }}
                        </span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>