{% extends "base.html" %}

{% block title%}Blog{% endblock title %}

{% block content %}

{% load static %}

<div class="container" id="blog">
    <h1>Blog</h1>

    <p>
        <strong>Amount:</strong> <span class="badge bg-secondary">{{ articles.paginator.count }}</span>
    </p>

    <!-- Form to add a new article -->
    <form class="mb-4" id="add-article" action="{% url "blog:add-article" %}">
        <button class="btn btn-primary" type="submit"><i class="bi bi-envelope-plus"></i> Create Article</button>
    </form>

    <hr class="my-4">

    <!-- Article cards -->
    <div class="row g-4" id="articles">
        {% for article in articles %}
            <div class="col-4">
                {% include 'article_card.html' with article=article %}
            </div>
        {% empty %}
            <h5>No articles...</h5>
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% if articles.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if articles.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="?page={{ articles.number }}">{{ articles.number }}</a>
            </li>

            {% if articles.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ articles.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ articles.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}
