{% extends "base.html" %}

{% block title%}Blog{% endblock title %}

{% block content %}

{% load static %}

<!-- Blog Text -->
<div class="container-fluid p-4">
    <div class="row justify-content-left">
        <div class="col-md-8 text-left">
            <h1 class="display-1">Blog</h1>
            <p class="lead">There is an idea of a Patrick Bateman. Some kind of abstraction.</p>
            <form class="mb-4" id="add-article" action="{% url "blog:add-article" %}">
                <button class="btn btn-success btn-lg" type="submit">
                    <i class="bi bi-plus-circle"></i> New Article
                </button>
            </form>
        </div>
    </div>
</div>

<hr class="my-4">

<div class="p-4">
    <!-- Article cards -->
    <div class="row g-4" id="articles">
        {% for article in articles %}
            <div class="col-3">
                {% include 'article_card.html' with article=article %}
            </div>
        {% empty %}
            <h5>No articles...</h5>
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% if articles.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if articles.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="?page={{ articles.number }}">{{ articles.number }}</a>
            </li>

            {% if articles.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ articles.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ articles.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}
