{% extends 'main.html' %}

{% block title %}Catalog{% endblock title %}

{% block content %}

{% load static %}

<div class="container" id="catalog">
    <h1>Catalog <span class="badge bg-secondary">{{ object_list|length }}</span></h1>

    {% if object_list %}
        <ul>
            {% for category in object_list %}
                <li>
                    <a href="{% url "catalog:category" category.slug %}">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock content %}
