{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock title %}

{% block content %}

<!-- Category Info -->
<div class="mt-3 rounded-3 bg-body-dark p-4">
    <h1 class="display-1">{{ category.name }}</h1>
    <small class="text-muted">{{ category.description }}</small>
</div>

<hr class="my-4">

<!-- Subcategories -->
{% if categories %}
<div class="mt-3 rounded-3 bg-body-dark p-4">
    <h4>Subcategories</h4>
    <div class='row mt-4'>
        {% for subcategory in categories %}
            {% include "catalog/category_card.html" with category=subcategory %}
        {% endfor %}
    </div>
</div>

<hr class="my-4">
{% endif %}

<!-- Products -->
{% if object_list %}
<div class="mt-3 rounded-3 bg-body-tertiary p-4">
    <div class="mt-4">
        <h2>Products</h2>
        <ul class="list-group mt-3">
            {% for product in object_list %}
                {% include "catalog/product_card.html" with product=product %}
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
    <p>No Products</p>
{% endif %}

{% endblock content %}