{% extends "base.html" %}

{% block title %}{{ quiz.name }}{% endblock title %}

{% block content %}

<br>

<div class="card align-center border-info" style="width: 90%; margin: auto;">
    <div class="card-header" style="white-space: pre;">{{ quiz.name }}</div>
    <div class="card-body">
        
        {% if quiz.short_description %}
            <h5 class="card-title">{{ quiz.short_description }}</h5>
        {% elif quiz.description %}
            <h5 class="card-title">{{ quiz.description|truncatechars:100 }}</h5>
        {% endif %}
        
    </div>
</div>

<br>

<form method="post" action="{% url 'quiz:submit_answer' id=quiz.id %}">
    {% csrf_token %}

    <!-- Carousel -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-wrap="false" data-interval="false">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <div class="card border-info" style="width: 90%; margin: auto;">
                        <button class="btn btn-primary btn-primary" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            Start
                        </button>
                    </div>
                </div>
            </div>
            {% for question in quiz.questions.all %}
            <div class="carousel-item">
                <!-- Question Card -->
                <div class="card align-center border-secondary" style="width: 90%; margin: auto;">

                    <div class="card-header" style="white-space: pre;">{{ question.text }}</div>

                    <div class="card-body d-flex flex-column justify-content-center align-items-center">




                        <!-- Answers -->
                        <ul class="list-group list-group-flush">

                            <!-- Multiple Correct Answers -->
                            {% if question.has_multiple_answers %}
                            {% for answer in question.answers.all %}
                            <li class="list-group-item">
                                <input class="form-check-input" type="checkbox" name="answer{{ question.id }}" value="{{ answer.pk }}">
                                {{ answer.text }}
                            </li>
                            {% endfor %}

                            <!-- Single Correct Answer -->
                            {% else %}
                            {% for answer in question.answers.all %}
                            <li class="list-group-item">
                                <input class="form-check-input" type="radio" name="answer{{ question.id }}" value="{{ answer.pk }}">
                                {{ answer.text }}
                            </li>
                            {% endfor %}
                            {% endif %}

                        </ul>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-secondary me-2" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="btn btn-secondary btn-lg" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                Next
                            </button>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
        <div class="carousel-item">
            <!-- Submit Test -->
            <div class="d-flex justify-content-center">
                <div class="card border-info" style="width: 90%; margin: auto;">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}