<style>
    .topic-card {
        transition: transform 0.2s, box-shadow 0.2s, filter 0.1s;
        position: relative;
    }
    .topic-card:hover {
        transform: scale(1.02);
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
    }
    .topic-card:active {
        filter: brightness(80%);
        transform: scale(0.98);
    }
    .topic-card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .topic-card:hover .topic-card-overlay {
        opacity: 1;
    }
    .topic-card-title {
        transition: padding 0.3s;
        padding: 0px;
        text-align: center;
    }
    .topic-card:hover .topic-card-title {
        padding: 10px;
    }
</style>

<a href="{{ topic.get_absolute_url }}" class="text-decoration-none">
    <div class="card topic-card mb-3">
        <img class="card-img" src="{% if topic.image %}{{ topic.image.url }}{% else %}https://image-placeholder.com/images/actual-size/450x300.png{% endif %}" alt="{{ topic.name }}">
        <div class="topic-card-overlay">
            <h5 class="topic-card-title">{{ topic.name }}</h5>
        </div>
    </div>
</a>
