{% extends 'main.html' %}

{% block title%}Blog{%endblock title%}

{% block content %}

{% load static %}

<div class="container" id="blog">
    <h1>Blog</h1>

    <p>
        <strong>Amount:</strong> <span class="badge bg-secondary">{{ articles|length }}</span>
    </p>

    <!-- Form to add a new article -->
    <form class="mb-4" id="add-article" action="{% url "blog:add-article" %}">
        <button class="btn btn-primary" type="submit"><i class="bi bi-envelope-plus"></i> Create Article</button>
    </form>

    <hr class="my-4">

    <!-- Article cards -->
    <div class="row g-4" id="articles">
        {% for article in articles %}
            <div class="col-4">
                {% include 'article_card.html' with article=article %}
            </div>
        {% empty %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">No articles</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}