{% extends 'main.html' %}

{% block content %}

{% load static %}
<div class="container">
    <h1>Blog</h1>
    <p>Amount: {{ articles|length }}</p>
    <form action={% url "blog:add-article" %}>
        <button type="submit" class="btn btn-secondary">Create article</button>
    </form>
    <hr class="my-4">
    <div class="row g-4">
        {% for article in articles %}
            {% include 'article_card.html' with article=article %}
        {% empty %}
        <h2>No articles</h2>
        {% endfor %}
    </div>
</div>

{% endblock content %}