{% extends 'main.html' %}

{% block content %}

<div class="container">
  <img src = 'https://media.gq-magazine.co.uk/photos/5e9ee080be258400088d6fc3/1:1/w_1080,h_1080,c_limit/20200421-psycho-04.jpg'></img>
  <img src = 'https://images.immediate.co.uk/production/volatile/sites/3/2023/12/american-psycho-patrick-bateman-christian-bale-74e5e71.jpg?quality=90&resize=980,654'></img>
  <img src = 'https://toc.h-cdn.co/assets/16/09/1600x1600/square-1456787230-gettyimages-168599144-1.jpg'></img>
  <img src = 'https://m.media-amazon.com/images/M/MV5BZTM2ZGJmNjQtN2UyOS00NjcxLWFjMDktMDE2NzMyNTZlZTBiXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_FMjpg_UX1000_.jpg'></img>
</div>

{% endblock content %}