<footer class="text-center text-white bg-body-tertiary">
    <div class="container">
        <section class="mt-5">
            <div class="row text-center d-flex justify-content-center pt-5">
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="{% url 'blog:index' %}" class="text-white">Blog</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="{% url 'catalog:index' %}" class="text-white">Catalog</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="{% url 'quiz:index' %}" class="text-white">Quizzes</a>
                    </h6>
                </div>
            </div>
        </section>

        <hr class="my-5">

        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>
                        Privet sigma vsem hay
                    </p>
                </div>
            </div>
        </section>

        <section class="text-center">
            <a href="https://github.com/router97/DjangoHomework" class="text-white">
                <i class="bi bi-github"></i> GitHub
            </a>
        </section>
    </div>
</footer>