{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'blog:index' %}">
            <img src="{% static 'favicon/favicon-32x32.png' %}">
            DjangoHomework
        </a>

        <!-- Navbar toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href={% url "main:about" %}><i class="bi bi-info-circle"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url "catalog:index" %}><i class="bi bi-collection"></i> Catalog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url "quiz:index" %}><i class="bi bi-clipboard"></i> Quizzes</a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href={% url "admin:index" %}><i class="bi bi-gear"></i> Admin</a>
                    </li>
                {% endif %}
            </ul>

            <!-- Profile dropdown -->
            {% if request.user.is_authenticated %}
                <ul class="navbar-nav mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ request.user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url "members:profile" request.user.username %}">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url "members:logout" %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>


            <!-- Login/Register -->
            {% else %}
                <ul class="navbar-nav mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href={% url "members:login" %}><i class="bi bi-box-arrow-in-right"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success" href={% url "members:register" %}><i class="bi bi-person-plus"></i> Register</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>