{% extends "main.html" %}

{% block content %}

<div class="container" id="login-form-container">
    <div class="mt-4 rounded-3 bg-body-tertiary p-4">
        <form method="POST" id="login-form" action="" enctype="multipart/form-data">
            {% csrf_token %}    
            
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" id="username" name="username" type="username" placeholder="Enter your username">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" placeholder="Enter your password">
            </div>
            
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}