{% extends "main.html" %}

{% block content %}

<div class="container" id="profile-container">
    <div class="mt-4 rounded-3 bg-body-tertiary shadow p-4">
        <h1 class="mb-4">Profile</h1>

        <form method="POST" id="profile-form" action="" enctype="multipart/form-data">
            {% csrf_token %}    
            
            <fieldset {% if user_context != request.user %}disabled{% endif %}>
                
                <div class="mb-2">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" id="username" name="username" type="text" value="{{ user_context.username }}" placeholder="Username">
                </div>

                <div class="mb-2">
                    <label class="form-label" for="first_name">First name</label>
                    <input class="form-control" id="first_name" name="first_name" type="text" value="{{ user_context.first_name }}" placeholder="First Name">
                </div>
                
                <div class="mb-2">
                    <label class="form-label" for="last_name">Last Name</label>
                    <input class="form-control" id="last_name" name="last_name" type="text" value="{{ user_context.last_name }}" placeholder="Last Name">
                </div>
                
                <div class="mb-2">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" name="email" type="email" value="{{ user_context.email }}" placeholder="Email">
                </div>

                <br>
                
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>

            </fieldset>
        </form>
    </div>

    <div class="mt-4 rounded-3 bg-body-tertiary p-4">
        <h1>Articles</h1>
        <p>
            <strong>Amount:</strong> <span class="badge bg-secondary">{{ user_context.articles.all|length }}</span>
        </p>
        <br>

        <div class="row g-4" id="articles">
            {% if request.user != user_context %}

                {% for article in user_context.articles.all %}
                    <div class="col-4">
                        {% include "article_card.html" with article=article %}
                    </div>
                {% empty %}
                    <p>No articles</p>
                {% endfor %}
            
            {% else %}

                {% for article in user_context.articles.all %}
                    <div class="col-4">
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-danger flex-fill" href="{% url "blog:delete-article" article.id %}" type="submit">Delete</a>
                        </div>
                        {% include "article_card.html" with article=article %}
                    </div>     
                {% empty %}
                    <p>No articles</p>
                {% endfor %}

            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}